{% extends 'base.html' %}

{% block title %} 

{% endblock title%}

{% block contenido %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About</h1>
        <p class="lead text-muted">Nuestra Empresa</p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
        
        <p class="lead" align="justify">
            Somos un equipo de personas altamente capacitados para resolver los inconvenientes que se presenten en Tecnologías Aplicadas a la Programación y Procesos de Big Data . 
         </p>
         <p class="lead" align="justify">
            Para Nosotros, la calidad del servicio, amerita tener en nuestras manos la responsabilidad de llevar tu Empresa al siguiente Nivel, de forma competitiva con el mercado y la realidad tecnologica actual.
  
        </p>
        <br>
        <p class="lead" align="justify">
            Desde hace 22 años redoblamos el esfuerzo para proveer Nuestros servicios con Personal Altamente Capacitados. 

            El equipo conformado por STUDIO BD. cuenta con una dilatada experiencia y formación específica en las nuevas tecnologías. Cada uno de sus miembros acumula una media de más de diez años de experiencia llevando a cabo tareas en las áreas de programación, gestión y desarrollo de proyectos, en múltiples entornos y plataformas, para empresas de diferentes sectores.

            El interés por la informática y el desarrollo software de nuevos productos va más allá de lo profesional, ya que forma parte de las aficiones e intereses personales de todos los integrantes del equipo.
            
            Nuestro equipo de trabajo es experto en diferentes campos de programación de software como las aplicaciones para móvil en Android, iPhone, Windows Phone, etc o Aplicaciones Multiplataforma. El posicionamiento SEO y SEM para tu negocio y su página web, el diseño web responsive, el control de acceso a oficinas e instalaciones deportivas. También damos formación para empresas y a sus trabajadores y servicios de consultoría. La unión de un equipo de trabajo dispuesto a dar lo mejor de si, junto con la idea del cliente nunca fue tan poderosa hasta este momento.
    </div>
  </main>



{% endblock contenido %}