{% extends 'base.html' %}

{% block title %} 
Crear Cuenta
{% endblock title%}

{% block contenido %}
<br> <center>
    <h1 class="display-1">STUDIO BD. </h1>
    <h3> Programa de Registro para Disquerias </h3>
    <h4 >Un Lugar Toda la MUSICA</h4>
    
    <IMG SRC="https://static.vecteezy.com/system/resources/previews/007/993/803/non_2x/music-logo-templates-music-microphone-and-vinyl-record-design-turntable-illustration-free-vector.jpg" ALIGN=TOP>
        
        
        
    </body>
   
    
{% endblock contenido %}