{% extends 'base.html' %}

{% block title %} 
Eliminar Album
{% endblock title%}

{% block contenido %}
<br>
<div class="d-grid gap-2">
    <a class="btn btn-primary" href={% url 'proyecto'%}>Volver a BD</a>
    </div> 
    <br>
<div>
    <form action={% url "eliminar_album" object.id %}  method="post">
         {% csrf_token %}
         <center>
         <h1><B><FONT COLOR="red">Esta seguro de Eliminar el ALBUM?</FONT></h1>
            <br>
            <div class="d-grid gap-2"> 
         <button class="btn btn-danger">==>  ELIMINAR ALBUM  <== </button>
    </form>
</div>
<center>
    <br>
<div class="col-md-4">
    <img src="https://www.jasoft.org/Blog/image.axd?picture=/2021/borrar-database.png"width="550" height="500" />  
  </div>
{% endblock contenido %}