{% extends 'base.html' %}

{% block title %} 
Muestra de Albumes
{% endblock title%}

{% block contenido %}
<br>

<div><center>
    <h1><B><FONT COLOR="red">DETALLE DE ALBUM</FONT></h1>
    </center>
    <div class="p-3 mb-2 bg-dark text-white">
   <center>
    <ul class="list-grup-item">
        <p class="text-bg-info">ID de Discografica</p>
           <li class='list-grup-item'> {{object.id}} </li>
           <p class="text-bg-danger">NOMBRE</p>
           <li class="list-grup-item"> {{object.nombre}} </li>
           <p class="text-bg-danger">Interprete</p>
           <li class="list-grup-item"> {{object.interprete}} </li>
           <p class="text-bg-danger">Cantidad de Temas</p>
           <li class="list-grup-item"> {{object.cant_temas}} </li>
           <p class="text-bg-danger">Discografica</p>
           <li class="list-grup-item"> {{object.discografica}} </li>
           <p class="text-bg-danger">Formato</p>
           <li class="list-grup-item"> {{object.formato}} </li>
           <p class="text-bg-danger">Fecha de Lanzamiento</p>
           <li class="list-grup-item"> {{object.fec_lanzamiento}} </li>
           <p class="text-bg-danger">Precio</p>
           <li class="list-grup-item"> {{object.precio}} </li>
           <p class="text-bg-danger">Cantidad (stock)</p>
           <li class="list-grup-item"> {{object.cantidad}} </li>
           
        </div>
        <center>
        <p> Caratula: </p>
        {% if object.imagen %}
                <img src="{{ object.imagen.url }}"alt="" height="150px">
            {% endif %}
    </ul>
    <p>
        <div class="d-grid gap-2">
        <a class="btn btn-primary" href={% url 'listar_album'%}>Volver a la lista</a>
        </div>      
</div>
<center>
    <br>
<div class="col-md-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSVQYte-rHB1jvinpONunVR5MEOd7Tbzso17QBTZR7RoUjmBU1Tb7awyiFy1kV33GaIQA&usqp=CAU"width="550" height="500" />  
  </div>
{% endblock contenido %}