{% extends 'base.html' %}

{% block title %} 
Muestra de INTERPRETE
{% endblock title%}

{% block contenido %}
<br>
<center>
<div><center>
    <h1><B><FONT COLOR="red">DETALLE DE INTERPRETE</FONT></h1>
    </center>
    <div class="p-3 mb-2 bg-dark text-white">
   
    <ul class="list-grup-item">
        <p class="text-bg-info">ID de Interprete</p>
           <li class='list-grup-item'> {{object.id}} </li>
           <p class="text-bg-danger">INTERPRETE</p>
           <li class="list-grup-item"> {{object.nombre}} </li>
           
        </div>
        <p> Foto: </p>
        {% if object.foto %}
                <img src="{{ object.foto.url }}"alt="" height="200px">
            {% endif %}
    </ul>
    <div>
        {% for image in object.foto_object.all %}
        <img style="width:175%;margin:15%" src="{{ foto.foto_object.url }}">
        {% endfor %}
        </div>
    <p>
        <div class="d-grid gap-2">
        <a class="btn btn-primary" href={% url 'proyecto'%}>Volver a BD</a>
        </div>      
</div>
<center>
    <br>
<div class="col-md-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSVQYte-rHB1jvinpONunVR5MEOd7Tbzso17QBTZR7RoUjmBU1Tb7awyiFy1kV33GaIQA&usqp=CAU"width="550" height="500" />  
  </div>
{% endblock contenido %}