{% extends 'base.html' %}

{% block title %} 

{% endblock title%}

{% block contenido %}
<br>
<header class="row bg-black">
    <div class="col-md-4">
      <img src="https://previews.123rf.com/images/iconcraftstudio/iconcraftstudio1611/iconcraftstudio161100016/66794465-bug-en-el-icono-plano-de-la-base-de-datos-computaci%C3%B3n-ilustraci%C3%B3n-vectorial.jpg"width="550" height="500" />  
    </div>
    
    <div class="col-md-8 my-auto p-4">
      <h1>Base de Datos<strong>DISQUERIA</strong></h1>
      <h3>Realiza las operaciones en el siguiente Menu</h3>

      
    
  <hr>
  <div class="d-grid gap-2">
    <a class="btn btn-primary" href="" >Cargar Formato</a>
    </div> 
    <br>
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="">Cargar Genero</a>
      </div>
      <br>
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="">Cargar Discografica</a>
    </div>
    <br>
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="">Cargar Interprete</a>
    </div>
    <br>
    <div class="d-grid gap-2">
    <a class="btn btn-primary" href={% url 'crear_album'%}>Cargar Album</a>
    </div>
    <br>
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href={% url 'crear_tema'%}>Cargar Tema</a>
    </div>
<div>
</hr>
{% endblock contenido %}